<!DOCTYPE html>
<html lang="zxx">
{%include 'base/main.html'%}

<body id="top">

{%include 'base/head.html'%}
	


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">All Doctors</span>
          <h1 class="text-capitalize mb-5 text-lg">Specalized doctors</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- portfolio -->
<section class="section doctors">
  <div class="container">
  	  <div class="row justify-content-center">
             <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Doctors</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </p>
                </div>
            </div>
        </div>
<form method="GET" action="{%url 'doctor'%}">
      <div class="col-12 text-center  mb-5">
	        <div class="btn-group btn-group-toggle " data-toggle="buttons">
	          <label class="btn active ">
	           <a href="{%url 'doctor'%}"> <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Department</a>
	          </label>
			  {%for depar in department|slice:'5'%}
	          <label  class="btn ">
	            <a href="{%url 'doctor'%}?q={{depar.name}}"><input type="radio" name="shuffle-filter" value="cat1" />{{depar.name}}</a>
	          </label>
			  {%endfor%}
	        
	     
	        </div>
      </div>
</form>
    <div class="row shuffle-wrapper portfolio-gallery">
		{%for doc in doctor%}
      	<div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
	      	<div class="position-relative doctor-inner-box">
		        <div class="doctor-profile">
	               <div class="doctor-img">
				
	               		<img src="{{doc.doctor.doctor_pic.url}}" alt="doctor-image" class="img-fluid w-100">
	               </div>
	            </div>
                <div class="content mt-3">
                	<h4 class="mb-0"><a href="{%url 'doctor_single' doc.username%}">{{doc.first_name}} {{doc.last_name}}  </a></h4>
                	<p>{{doc.doctor.departement}}</p>
					
                </div> 
	      	</div>
      	</div>
		{%endfor%}
		

      

    

     
    

       
    </div>
  </div>
</section>
<!-- /portfolio -->
<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">We are pleased to offer you the <span class="title-color">chance to have the healthy</span></h2>
          {%if request.user.is_doctor%}
          <a href="{%url 'dash'%}" class="btn btn-main btn-round-full">Dashboard</a>
        
          {%else%}
          <a href="{%url 'make_appoinment'%}" class="btn btn-main btn-round-full">Make a appoinment</a>

          {%endif%}				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer Start -->
{%include 'base/footer.html'%}
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>
    <script src="js/contact.js"></script>

  </body>
  </html>